<tui-root>
  <button
    tuiButton
    type="button"
    appearance="primary"
    class="tui-space_right-3 tui-space_bottom-3"
  >
    primary
  </button>
  <button
    tuiButton
    type="button"
    appearance="secondary"
    class="tui-space_right-3 tui-space_bottom-3"
  >
    secondary
  </button>
  <button
    tuiButton
    type="button"
    appearance="secondary-destructive"
    class="tui-space_right-3 tui-space_bottom-3"
  >
    secondary-destructive
  </button>
  <button
    tuiButton
    type="button"
    appearance="accent"
    class="tui-space_right-3 tui-space_bottom-3"
  >
    accent
  </button>
  <button
    tuiButton
    type="button"
    appearance="flat"
    class="tui-space_right-3 tui-space_bottom-3"
  >
    flat
  </button>
  <button
    tuiButton
    type="button"
    appearance="outline"
    class="tui-space_right-3 tui-space_bottom-3"
  >
    outline
  </button>
  <button
    tuiIconButton
    type="button"
    appearance="icon"
    icon="tuiIconCloseLarge"
    class="tui-space_right-3 tui-space_bottom-3"
  ></button>
  <!-- content of your app -->
  <!--
     If you need, you can add something between Taiga portal layers:
    -->
  <ng-container ngProjectAs="tuiOverContent">
    <!-- Content over app content -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverDialogs">
    <!-- Content over dialogs -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverAlerts">
    <!-- Content over notifications -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverPortals">
    <!-- Content over dropdowns -->

  </ng-container>
  <ng-container ngProjectAs="tuiOverHints">
    <!-- Content over hints -->

  </ng-container>
</tui-root>
